<div class="container col-md-6">
    <div class="abs-center">
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
        
        <div class="form-group">
            <label for="name">Identificacion</label>
            <input   type="ident" name="ident" id="ident" class="form-control" >
          </div>     
           <div class="form-group">
             <label for="name">Nombre</label>
             <input   type="name" name="name" id="name" class="form-control" >
           </div>
         
           <div class="form-group">
            <label for="password" >Apellido</label>
           <input  type="password" name="password" id="password" class="form-control">
          </div>

          <div class="form-group row">
            <label for="example-date-input" class="col-5 col-form-label">Fecha Nacimiento</label>
            <div class="col-10">
              <input class="form-control" type="date" value="2011-08-19T" id="example-date-local-input">
            </div>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Cargo</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Director</option>
              <option>Asistente</option>
              <option>Auxiliar</option>
              <option>Secretaria</option>
              <option>Soporte </option>
            </select>
          </div>
          
        <div id="etnia">
            <label for="exampleForm">Etnia</label><br>
            <input type="checkbox" value="1" id="product-1-1" name="check" /> AfroAmericanos<br/>
            <input type="checkbox" value="2" id="product-1-2" name="check" /> Wayu<br/>
            <input type="checkbox" value="3" id="product-1-3" name="check" /> Maya<br/>
        </div>
        <br> 
              
        <button (click)= "registrar()" class="btn btn-info" style="margin-left: 10px;">Registrar
        </button>      
        <button (click)= "actualizar()" class="btn btn-info" style="margin-left: 10px;">Actualizar
        </button>
        <button (click)= "search()" class="btn btn-info" style="margin-left: 10px;">Buscar
        </button>
        <button (click)= "list()" class="btn btn-info" style="margin-left: 10px;">Listar
       </button>

      </form>
    </div>
  </div>
  
  
  
  
  
 